[submodule "unix-tools/coreutils"]
	path = unix-tools/coreutils
	url = https://github.com/mfragkoulis/coreutils
	branch = master
	ignore=dirty
[submodule "unix-tools/grep"]
	path = unix-tools/grep
	url = https://github.com/mfragkoulis/grep
	branch = master
	ignore=dirty
[submodule "unix-tools/bash"]
	path = unix-tools/bash
	url = https://github.com/mfragkoulis/bash.git
	branch = master
	ignore=dirty
