*.swp
*.test
*.exe
*.o
*.pdf
png/*.png
sgsh
sgsh-ps
sgsh-tee
sgsh-readval
sgsh-writeval
charcount
sgsh.html
sgsh-httpval.html
sgsh-monitor.html
sgsh-readval.html
sgsh-ps.html
sgsh-tee.html
sgsh-writeval.html
tags
