*.swp
*.test
*.exe
*.o
*.pdf
*.dot
*.err
*.errb
*.out
*.outb
png/*.png
dgsh-conc
dgsh-ps
dgsh-merge-sum
dgsh-tee
dgsh-readval
dgsh-writeval
dgsh-httpval
dgsh-monitor
negotiate
libdgsh_negotiate.a
charcount
dgsh.html
dgsh-httpval.html
dgsh-monitor.html
dgsh-readval.html
dgsh-ps.html
dgsh-tee.html
dgsh-writeval.html
tags
test/web-log-report/logfile
test/sorted-words
unix-dgsh-tools/sf*
