*.swp
*.test
*.exe
*.o
*.pdf
*.dot
*.err
*.errb
*.out
*.outb
png/*.png
sgsh
sgsh-conc
sgsh-ps
sgsh-merge-sum
sgsh-tee
sgsh-readval
sgsh-writeval
sgsh-httpval
sgsh-monitor
negotiate
libsgsh_negotiate.a
charcount
sgsh.html
sgsh-httpval.html
sgsh-monitor.html
sgsh-readval.html
sgsh-ps.html
sgsh-tee.html
sgsh-writeval.html
tags
test/web-log-report/logfile
test/sorted-words
