[submodule "unix-sgsh-tools/coreutils"]
	path = unix-sgsh-tools/coreutils
	url = https://github.com/mfragkoulis/coreutils
	branch = master
[submodule "unix-sgsh-tools/diffutils"]
	path = unix-sgsh-tools/diffutils
	url = https://github.com/mfragkoulis/diffutils
	branch = master
[submodule "unix-sgsh-tools/grep"]
	path = unix-sgsh-tools/grep
	url = https://github.com/mfragkoulis/grep
	branch = master
[submodule "unix-sgsh-tools/bash"]
	path = unix-sgsh-tools/bash
	url = https://github.com/mfragkoulis/bash.git
	branch = master
